target/
.vscode/
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.project
.classpath
technicalprep.code-workspace
pom.xml

# technical exercises not to share:
technical_6-29-20.py
technical_7-13-20.py
technical_7-13-20.js
Technical_7_17_20.java
Technical_7_17_20_v2.java
technical_7_24_20.html
Technical_7_30_20.java